In [107]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [109]:
dataset = pd.read_excel("dados_pacientes.xlsx", engine="openpyxl")
dataset.head()

,Nome,Idade,Gênero,Tipo de Lesão,Escala de Glasgow na Admissão,Exames Laboratoriais,Tratamentos Realizados ou a Realizar
0,Paciente 1,52,Masculino,TCE leve,4,Ultrassom,"Intubação, Cirurgia"
1,Paciente 2,41,Feminino,Fratura de fêmur,4,TC de crânio,"Hidratação, Drenagem"
2,Paciente 3,30,Feminino,Trauma abdominal,5,"TC de crânio, Ultrassom, Eletrólitos","Intubação, Monitoramento"
3,Paciente 4,86,Masculino,Trauma torácico,11,"Hemograma, TC de crânio","Drenagem, Hidratação, Cirurgia reparadora"
4,Paciente 5,43,Masculino,Fratura de fêmur,9,"TC de crânio, Hemograma, Gasometria",Fisioterapia

In [76]:
dataset.describe()

              Idade  Escala de Glasgow na Admissão
count  12000.000000                   12000.000000
mean      54.239750                       8.975167
std       20.947442                       3.725458
min       18.000000                       3.000000
25%       36.000000                       6.000000
50%       54.000000                       9.000000
75%       72.000000                      12.000000
max       90.000000                      15.000000

In [111]:
dataset.isnull().sum()

Nome                                    0
Idade                                   0
Gênero                                  0
Tipo de Lesão                           0
Escala de Glasgow na Admissão           0
Exames Laboratoriais                    0
Tratamentos Realizados ou a Realizar    0
dtype: int64

In [113]:
dataset.duplicated().sum()

0

In [115]:
##verifico a moda de Aparencia
agrupado_idade = dataset.groupby(['Idade']).size()
agrupado_idade

Idade
18    150
19    159
20    164
21    173
22    131
     ...
86    185
87    165
88    163
89    145
90    185
Length: 73, dtype: int64

In [117]:
dataset['Idade'].describe()

count    12000.000000
mean        54.239750
std         20.947442
min         18.000000
25%         36.000000
50%         54.000000
75%         72.000000
max         90.000000
Name: Idade, dtype: float64

In [119]:
#Idade mais frequente de pacientes (59)
dataset["Idade"].mode()

0    59
Name: Idade, dtype: int64

In [121]:
agrupado_lesao = dataset.groupby(['Tipo de Lesão']).size()
agrupado_lesao

Tipo de Lesão
AVC isquêmico         1155
Fratura de fêmur      1178
Fratura exposta       1117
Politrauma            1233
Queimaduras graves    1215
TCE grave             1303
TCE leve              1219
TCE moderado          1171
Trauma abdominal      1231
Trauma torácico       1178
dtype: int64

In [123]:
agrupado_exames = dataset.groupby(['Exames Laboratoriais']).size()
agrupado_exames

Exames Laboratoriais
Eletrólitos                             558
Eletrólitos, Gasometria                  93
Eletrólitos, Gasometria, Hemograma       19
Eletrólitos, Gasometria, Raio-X          17
Eletrólitos, Gasometria, Ressonância     25
                                       ...
Ultrassom, TC de crânio, Eletrólitos     13
Ultrassom, TC de crânio, Gasometria      14
Ultrassom, TC de crânio, Hemograma       21
Ultrassom, TC de crânio, Raio-X          24
Ultrassom, TC de crânio, Ressonância     18
Length: 259, dtype: int64

In [125]:
#Tratamento mais frequente
dataset["Tratamentos Realizados ou a Realizar"].mode()

0    Intubação
Name: Tratamentos Realizados ou a Realizar, dtype: object

In [127]:
def desfecho(row):
    if row["Escala de Glasgow na Admissão"] >= 13:
        return "Alta hospitalar sem sequelas"
    elif 9 <= row["Escala de Glasgow na Admissão"] <= 12:
        return "Alta hospitalar com sequelas"
    else:
        return "Óbito"

dataset["Desfecho"] = dataset.apply(desfecho, axis=1)

In [133]:
dataset["Desfecho"].value_counts()

Desfecho
Óbito                           5549
Alta hospitalar com sequelas    3731
Alta hospitalar sem sequelas    2720
Name: count, dtype: int64

In [135]:
dataset['Desfecho'].describe()

count     12000
unique        3
top       Óbito
freq       5549
Name: Desfecho, dtype: object

In [141]:
import os
os.path.exists("dados_pacientes_tratados.xlsx")

True

In [143]:
dataset = pd.read_excel("dados_pacientes_tratados.xlsx", engine="openpyxl")
dataset.head()

,Nome,Idade,Gênero,Tipo de Lesão,Escala de Glasgow na Admissão,Exames Laboratoriais,Tratamentos Realizados ou a Realizar,Desfecho
0,Paciente 1,52,Masculino,TCE leve,4,Ultrassom,"Intubação, Cirurgia",Óbito
1,Paciente 2,41,Feminino,Fratura de fêmur,4,TC de crânio,"Hidratação, Drenagem",Óbito
2,Paciente 3,30,Feminino,Trauma abdominal,5,"TC de crânio, Ultrassom, Eletrólitos","Intubação, Monitoramento",Óbito
3,Paciente 4,86,Masculino,Trauma torácico,11,"Hemograma, TC de crânio","Drenagem, Hidratação, Cirurgia reparadora",Alta hospitalar com sequelas
4,Paciente 5,43,Masculino,Fratura de fêmur,9,"TC de crânio, Hemograma, Gasometria",Fisioterapia,Alta hospitalar com sequelas

In [102]:
import os
os.getcwd()

'C:\\Users\\victo\\Documents\\Desafio_BancoVI'